@media (max-width: 768px){
    th{
        display: none; 
    }

    td{
        display: block;
    }

    td:first-child{
        padding-top: 1.5rem;
    }

    td:last-child{
        padding-bottom: 1.5rem;
    }

    td::before{
        content: attr(data-cell) ": ";
        font-weight: 700;
        text-transform: capitalize;
    }

}