body {
  margin: 0;
  padding: 0;
  background-color: #000000;
}

.app {
  max-width: 60%;
  margin: 20px auto;
}


.planet-container {
  display: flex;
  flex-direction: column;
}

.planet-card {
  margin: 10px 0;
  padding: 10px;
  background-color: #3b3b3b;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
}

.planet-card:hover {
  transform: scale(1.02);
}

.resident-table {
  margin-top: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
}


.resident-list {
  margin-top: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}


#loader{
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(255,255,255,.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}

@media(max-width: 768px){
  .app{
    max-width: 90%;
  }
}


